.recommended {
   &__products {
    @include pageGrid;
    grid-row-gap: 40px;

    @include onTablet {
      grid-row-gap: 56px;
    }

    @include onDesctop {
      grid-row-gap: 0;
    }
  }

  &__product {
    grid-column: 1 / -1;

    @include onTablet {
      grid-column: span 6;
    }

    @include onDesctop {
      grid-column: span 4;
    }
  }
}