@mixin onTablet {
  @media (min-width: 600px) {
    @content;
  }
}

@mixin onDesctop {
  @media (min-width: 1024px) {
    @content;
  }
}

@mixin backgroundPosition {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

@mixin hover($property, $toValue) {
  transition: #{$property} $duration-time;

  &:hover {
    #{$property}: $toValue;
  }
}

@mixin pageGrid {
  display: grid;
  column-gap: 20px;
  --columns: 2;
  grid-template-columns: repeat(var(--columns), 1fr);
  
  @include onTablet {
    column-gap: 24px;
    --columns: 6;
  }

  @include onDesctop {
    --columns: 12;
  }
}